<a href="https://colab.research.google.com/github/alvas-education-foundation/K.Muthu-courses/blob/master/How-to-develop-Pythonic-coding-rather-than-Python-coding-Logic-Perspective/Day_2_sesson_2_Exercise_programs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Session 2 Excercise Programs**

### 1. Dictionary Excercise

In [ ]:
# 1.	Add rollno and marks {name:mark} for n number of students through keyboard in a dictionary and print the marks in descending order with respective name.

import operator
d = {}
for x in range(int(input('Enter the no of students: '))):
  name = input('Enter name %d: '%(x+1))
  mark = int(input('Enter mark %d: '%(x+1)))
  d[name] = mark
d = sorted(d.items(),key = operator.itemgetter(1),reverse = True)
print(d)

Enter the no of students: 3
Enter name 1: charan
Enter mark 1: 45
Enter name 2: likith
Enter mark 2: 90
Enter name 3: akil
Enter mark 3: 78
[('likith', 90), ('akil', 78), ('charan', 45)]

In [ ]:
# 2.	Add  name and salary {name:salary} for n number of employees through keyboard in a dictionary and print them in name alphabetical order with salary

d = {}
for x in range(int(input('Enter the no of employees: '))):
  name = input('Enter name %d: '%(x+1))
  sal = int(input('Enter salary %d: '%(x+1)))
  d[name] = sal
print(sorted(d.items()))

Enter the no of employees: 3
Enter name 1: harish
Enter salary 1: 30000
Enter name 2: anil
Enter salary 2: 24000
Enter name 3: suresh
Enter salary 3: 34000
[('anil', 24000), ('harish', 30000), ('suresh', 34000)]

In [ ]:
# 3.	Add  name and salary {name:salary} for n number of employees through keyboard in a dictionary 
#     and print them in salary  ascending order and  sum, max, min and average of the salaries

import operator
d = {}
for x in range(int(input('Enter the no of employees: '))):
  name = input('Enter name %d: '%(x+1))
  sal = int(input('Enter salary %d: '%(x+1)))
  d[name] = sal
print(sorted(d.items(),key = operator.itemgetter(1)))
print('Sum of salary: ',sum(d.values()))
print('Max of salary: ',max(d.values()))
print('Min of salary: ',min(d.values()))
print('Average of salary: ',sum(d.values())/len(d.values()))

Enter the no of employees: 3
Enter name 1: harish
Enter salary 1: 30000
Enter name 2: anil
Enter salary 2: 24000
Enter name 3: suresh
Enter salary 3: 34000
[('anil', 24000), ('harish', 30000), ('suresh', 34000)]
Sum of salary:  88000
Max of salary:  34000
Min of salary:  24000
Average of salary:  29333.333333333332

In [ ]:
# 4.	Add name and salary {name:salary} for n number of employees through keyboard in a dictionary 
#     and print only the employees whose salary is greater than 2000 but less than 4000



d = {}
for x in range(int(input('Enter the no of employees: '))):
  name = input('Enter name %d: '%(x+1))
  sal = int(input('Enter salary %d: '%(x+1)))
  d[name] = sal
print({i:j for i,j in d.items() if j > 2000 and j < 4000})

Enter the no of employees: 3
Enter name 1: ramesh
Enter salary 1: 2500
Enter name 2: suresh
Enter salary 2: 1500
Enter name 3: ganesh
Enter salary 3: 3500
{'ramesh': 2500, 'ganesh': 3500}

In [ ]:
# 5.	Python program to convert a 3 digit number  into words

d={0:'',1:'one',2:'two',3:'three',4:'four',5:'five',6:'six',7:'seven',8:'eight',9:'nine',\
   10:'ten',11:'eleven',12:'twelve',13:'thirteen',14:'fourteen',15:'fifteen',16:'sixteen',\
   17:'seventeen',18:'eightteen',19:'nineteen',20:'twenty',30:'thirty',40:'fourty',50:'fifty',\
   60:'sixty',70:'seventy',80:'eighty',90:'ninty',100:'hundred'}

num=int(input("Enter the integer between 1 to 99:"))
if (num<=20):
      print(d[num])
if(num>20 and num<100):
        if num%10==0:       
            print(d[num])
        else:
            print(d[num//10*10]+" "+d[num%10])
if (num>=100 and num<1000):
  if num%100 == 0:
    print(d[num//100]+' '+d[100])
  elif num%10 == 0:
    print(d[num//100]+' '+d[100]+' and '+d[num%100//10*10])
  else:
    print(d[num//100]+' '+d[100]+' and '+d[num%100//10*10]+' '+d[num%10])

Enter the integer between 1 to 99:999
nine hundred and ninty nine

### 2. Files Exercise

In [ ]:
# 1.Python Program to count the total number of charaters (except blank space) in a text file.

from google.colab import drive
drive.mount('/content/drive')
file = '/content/drive/My Drive/text files/doc_1.txt'
count = 0
with open(file,'r') as f:
  for line in f:
    for word in line:
      count += len(word)
print('Total no of characters: ',count)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
Total no of characters:  56

In [ ]:
# 2.Python Program to print all the numbers present in a text file with its total number of occurrence.

file = '/content/drive/My Drive/text files/doc_3.txt'
d = {}
with open(file,'r') as f:
  for line in f:
    for word in line:
      if word.isdigit():
        if word in d.keys():
          d[word] += 1
        else:
          d[word] = 1
print("No's with total no of occurances: ",d)

No's with total no of occurances:  {'4': 2, '5': 1, '3': 1, '0': 1, '9': 1}

In [ ]:
# 3.Python Program to append the contents of one file to another file 

file1 = '/content/drive/My Drive/text files/doc_1.txt'
file2 = '/content/drive/My Drive/text files/doc_3.txt'
d = {}
with open(file1,'r') as f1:
  with open(file2,'a') as f2:
    for line in f1:
      f2.write(line)

In [ ]:
# 4.Python Program to count the number of blank spaces in a text file. 

file = '/content/drive/My Drive/text files/doc_1.txt'
count = 0
with open(file,'r') as f:
  for line in f:
    count += len(line.split())-1
print(count)

9

In [ ]:
# 5.Python Program to read a file and capitalize the first letter of every word in the file and copy the every word capitalized content  into another file and read it .

file1 = '/content/drive/My Drive/text files/doc_1.txt'
file2 = '/content/drive/My Drive/text files/doc_capital_1.txt'
count = 0
with open(file1,'r') as f1:
  with open(file2,'w') as f2:
    for line in f1:
      f2.write(line.title())

with open(file2,'r') as f:
  for line in f:
    print(line)

I Am Iron Man

Love You 3000

Sorry Earth Is Closed Today.